<%= form_for(@meetup, html: {class: 'ui fluid form'}) do |f| %>
  <% if @meetup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meetup.errors.count, "error") %> prohibited this meetup from being saved:</h2>

      <ul>
        <% @meetup.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :open_at %>
    <%= f.datetime_local_field :open_at %>
  </div>
  <div class="field">
    <%= f.label :close_at %>
    <%= f.datetime_local_field :close_at %>
  </div>
  <div class="field">
    <%= f.label :deadline %>
    <%= f.datetime_local_field :deadline %>
  </div>
  <div class="field">
    <%= f.label :place %>
    <%= f.text_field :place %>
  </div>
  <div class="field">
    <%= f.label :intro %>
    <%= f.text_area :intro %>
  </div>
  <h4 class="ui horizontal divider header">
    <i class="tag icon"></i>
    活动费用
  </h4>
  <div class="ui segment">
    <%= f.fields_for :meetup_fees do |fee| %>
      <%= render 'meetup_fees', f: fee %>
    <% end %>
    <%= link_to_add_association '添加费用项', f, :meetup_fees,
    { class: 'fluid ui button' } %>
  </div>
  <div class="actions">
    <%= f.submit "发布活动", class: 'fluid ui green button' %>
  </div>
<% end %>
