<p id="notice"><%= notice %></p>

<h1>Listing Meetups</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Open at</th>
      <th>Close at</th>
      <th>Deadline</th>
      <th>Place</th>
      <th>Intro</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meetups.each do |meetup| %>
      <tr>
        <td><%= meetup.title %></td>
        <td><%= meetup.open_at %></td>
        <td><%= meetup.close_at %></td>
        <td><%= meetup.deadline %></td>
        <td><%= meetup.place %></td>
        <td><%= meetup.intro %></td>
        <td><%= meetup.author %></td>
        <td><%= link_to 'Show', meetup %></td>
        <td><%= link_to 'Edit', edit_meetup_path(meetup) %></td>
        <td><%= link_to 'Destroy', meetup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meetup', new_meetup_path %>
