<h1 class="ui header">
  <%= @meetup.title %>
  <div class="sub header">
    活动发布人: <%= @meetup.author.nickname %>
  </div>
</h1>

<div class="ui segments">
  <div class="ui secondary segment">
    <i class="sign in icon"></i>
    <%= @meetup.open_at %> 活动开始
    <br>
    <i class="sign out icon"></i>
    <%= @meetup.close_at %> 活动结束
  </div>
  <div class="ui secondary segment">
    <i class="warning sign icon"></i>
    <%= @meetup.deadline %> 报名截止
  </div>
  <div class="ui secondary segment">
    <i class="marker icon"></i>
    <%= @meetup.place %>
  </div>
  <div class="ui secondary segment">
    <i class="check icon"></i>
    已有<%= @meetup.meetup_enrolls_count %>人报名
  </div>
</div>

<div class="ui text container">
  <%= @meetup.intro %>
</div>

<h4 class="ui horizontal divider header">
  <i class="payment icon"></i>
  活动费用
</h4>

<% if @enrolled %>
  <div class="ui positive icon message">
    <i class="announcement icon"></i>
    <div class="content">
      您已报名
    </div>
  </div>
<% end %>

<div class="ui cards">
  <% @meetup.meetup_fees.each do |fee| %>
    <div class="ui fluid card" href="#">
      <div class="content">
        <div class="header">
          <%= fee.key %>
        </div>
        <div class="description">
          <% if fee.quota > 0 %>
            剩余<%= fee.quota_remained %>个名额
          <% else %>
            名额不限
          <% end %>
        </div>
      </div>
      <div class="ui top right attached label">
        <%= fee.value_show %>元
      </div>
      <% unless @enrolled %>
        <a class="ui bottom attached button" href="#"
           data-meetup-id="<%= fee.meetup_id %>"
           data-fee-id="<%= fee.id %>">
          <i class="add icon"></i>
          报名
        </a>
      <% end %>
    </div>
  <% end %>
</div>
<script>
 $(function() {
   $("a").click(function(event) {
     var params = {
       'meetup_enroll[meetup_id]': $(this).data('meetup-id'),
       'meetup_enroll[meetup_fee_id]': $(this).data('fee-id')
     };
     $.post('/meetup_enrolls', params, function(data) {
       if(data.err == 0) {
         if(data.fee > 0) {
           alert('已为您锁定名额，请尽快支付');
         } else {
           alert('报名完成');
         }
         window.location.href = '/meetup_enrolls/' + data.enroll_id;
       } else if(data.err == 10001){
         alert('报名已结束');
       } else if(data.err == 10002){
         alert('此项名额已满');
       }
     });
   });
 });
</script>
