<h1 class="ui header">
  <%= @meetup.title %>
  <div class="sub header">
    活动发布人: <%= @meetup.author.nickname %>
  </div>
</h1>

<div class="ui segments">
  <div class="ui secondary segment">
    <i class="sign in icon"></i>
    <%= @meetup.open_at %> 活动开始
    <br>
    <i class="sign out icon"></i>
    <%= @meetup.close_at %> 活动结束
  </div>
  <div class="ui secondary segment">
    <i class="warning sign icon"></i>
    <%= @meetup.deadline %> 报名截止
  </div>
  <div class="ui secondary segment">
    <i class="marker icon"></i>
    <%= @meetup.place %>
  </div>
  <div class="ui secondary segment">
    <i class="check icon"></i>
    已有121人报名
  </div>
</div>

<div class="ui text container">
  <%= @meetup.intro %>
</div>

<h4 class="ui horizontal divider header">
  <i class="payment icon"></i>
  活动费用
</h4>

<div class="ui cards">
  <% @meetup.meetup_fees.each do |fee| %>
    <div class="ui fluid disabled card" href="#">
      <div class="content">
        <div class="header">
          <%= fee.key %>
        </div>
        <div class="description">
          剩余<%= fee.quota %>个名额
        </div>
      </div>
      <div class="ui top right attached label">
        <%= fee.value_show %>元
      </div>
      <a class="ui bottom attached button" href="#">
        <i class="add icon"></i>
        报名
      </a>
    </div>
  <% end %>
</div>
