<!DOCTYPE html>
<html>
  <head>
    <title>马村-活动</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= stylesheet_link_tag    'semantic', media: 'all' %>
    <%= javascript_include_tag 'semantic' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="ui blue two item inverted menu">
      <%= link_to "所有活动", meetups_path, class: 'item' %>
      <%= link_to "我的报名", meetup_enrolls_path, class: 'item' %>
    </nav>
    <div class="ui container">
      <% if notice %>
        <div class="ui positive message">
          <i class="close icon"></i>
          <div class="header"><%= notice %></div>
        </div>
      <% end %>
      <% if alert %>
        <div class="ui negative message">
          <i class="close icon"></i>
          <div class="header"><%= alert %></div>
        </div>
      <% end %>

      <%= yield %>
    </div>
    <footer class="ui basic segment">
    </footer>
    <script>
     $('.message .close').on('click', function() {
       $(this).closest('.message').transition('fade');
     });
    </script>
  </body>
</html>
